{% set load_terminal = True %}

{% extends "base.html.j2" %}

{% block title %}{{ slug }} - Build{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <div id="terminal"></div>

    <script type="text/javascript">
        const term = new Terminal()
        term.open(document.getElementById("terminal"))
        const socket = io("/", {
            path: "/ws/socket.io"
        })

        socket.on("connect", () => {
            socket.emit("join", "build_{{ slug }}")
        })

        socket.on("build", logs => {
            logs.map(log => {
                term.write(log)
                term.write("\r\n")
            })
        })
    </script>
{% endblock %}
